.item {
    display: flex;
    border-bottom: solid yellow;
    margin-bottom: 5px;
    margin-right: 7px;


}
.item-name {
    color: purple;
    font-weight: 8;
}
.item-button {
    background-color:rgb(166, 255, 0);
    width: 150px;
    height: 30px;
    border-radius: 10px;
}